@use "styles.scss" as theme;

.link {
    @include theme.remove-a-style();
}

.logo-box {
    @include theme.fast-flex(
        $direction: row,
        $justify: center,
        $align: center
    );

    pointer-events: none;

    width: 116px;
    height: 36px;
}

.logo-img {
    width: 92px;
    height: 20px;
}

.logo-country {
    height: 100%;

    color: theme.$text-muted-color;
    font-size: 10px;

    margin-left: 4px;
}