// 실제 지정 값
:root {
    --background-color: #FFF;

    --text-color: #000;
    --text-muted-color: #626262;
}

:root[data-theme="dark"] {
    --background-color: #0F0F0F;

    --text-color: #e7e7e7;
    --text-muted-color: #aaaaaa;
}

// SCSS variables
$background-color: var(--background-color);

$text-color: var(--text-color);
$text-muted-color: var(--text-muted-color);